*{
  font-family: 'Circular Std Book Bold', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/* ********************************* Variables ******************************************** */

:root{
  --color-gray: rgb(48,53,55);
  --color-lighter-gray: rgb(91,104,105);
  --color-gold: rgb(173,148,84);
  --color-green: rgb(64,88,96);
  --color-white: rgb(239,238,228);

}


/* ********************************* Header ******************************************** */
.header-container{
  height: 90vh;
  width: 100%;
  background-color: var(--color-gray);
  color: var(--color-gold);
}

.sam-h{
  position: relative;
  width: 100%;
  text-align: center;
  top: 20%;
  font-size: 500%;
}

.sam-h-tech-stack{
  position: relative;
  width: 100%;
  text-align: center;
  top: 50%;
  font-size: 100%;
}

@media only screen and (min-width: 1200px){
  .sam-h{
    font-size: 700%;
  }
}

/* ********************************* Navbar ******************************************** */

.nav-container{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray);
  color: var(--color-white);
  height: 10vh;
  z-index: 11;
}

.tobe-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 120px;
  background-color: black;
  margin-left: 40px;
}

.nav-list{
  justify-self: flex-end;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-item{
  font-family: 'Poppins';
  margin-right: 120px;
  padding: 10px;
}

.nav-item:hover{
  cursor: pointer;
  padding-bottom: 0; 
  border-bottom: 3px solid red;
}

/* ********************************* Mobile Navbar ******************************************** */
.mobile-nav-container{
  height: 10vh;
  width: 100%;
  background-color: var(--color-gray);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 11;
}

.burger-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: 100%;
  background-color: var(--color-gold);
}

.rotate:hover{
  transform: rotate(90deg);
  transition-duration: 0.5s;
  cursor: pointer;
}

.burger-line{
  height: 40%;
  width: 90%;
  background-color: aliceblue;
  margin: 5px;
  border-radius: 10px;
}

.burger-menu{
  position: absolute;
  background-color: var(--color-gray);
  height: 90vh;
  width: 100%;
  color: var(--color-white);
  z-index: 10;
}

.burger-menu-item{
  font-size: 500%;
  margin: 3% 0 0 3%;
  list-style: none;
  width: fit-content;
}

.burger-menu-item:hover{
  border-bottom: 3px solid red;
  color: black;
  margin-bottom: -3px;
  cursor: pointer;
}

/* ********************************* About ******************************************** */
.about-container{
  background-color: var(--color-gray);
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  padding: 50px 20px;
}

.main-image{
  height: auto;
  width: 40%;
  margin: 5% 0 5% 50%;
  transform: translate(-50%);
  border-radius: 25px;
}

.about-details{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-details-item {
  font-family: 'Poppins';
  margin-bottom: 30px;
}

@media only screen and (min-width: 1200px){
  .about-container{
    flex-direction: row;
  }

  .main-image{
    width: 20%;
    margin: 10% 0% 10% 30%;
  }

  .about-details{
    justify-content: center;
  }
  
  .about-details-item{
    width: 70%;
  }

  .title{
    font-size: 220%;
  }

  .details{
    font-size: 125%;
  }
}

/* ********************************* Footer ******************************************** */
.footer-container{
  height: 50vh;
  background-color: black;
  color: var(--color-white);
  padding: 50px 20px 0 20%;
}

.footer-title{
  margin-bottom: 20px;
  font-size: ;
}

.footer-contact-container{
  margin-top: 50px;
}

.footer-contact{
  padding: 10px;
  text-decoration: none;
}

.footer-contact > a{
  color: var(--color-white);
}

.footer-contact > a:visited{
  color: var(--color-white);
}

@media only screen and (min-width: 1200px){
  .footer-title{
    font-size: 300%;
    margin-bottom: 8%;
  }

  .footer-contact-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 6%;
  }
}