*{
  font-family: 'Circular Std Book Bold', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/* ********************************* Variables ******************************************** */

:root{
  --color-gray: rgb(48,53,55);
  --color-lighter-gray: rgb(91,104,105);
  --color-gold: rgb(173,148,84);
  --color-green: rgb(64,88,96);
  --color-white: rgb(239,238,228);

}


/* ********************************* Header ******************************************** */
.header-container{
  height: 90vh;
  width: 100%;
  background-color: var(--color-gray);
  color: var(--color-gold);
  border-bottom: 3px solid red;
}

.sam-h{
  position: relative;
  width: 100%;
  text-align: center;
  top: 40%;
  font-size: 500%;
}

.sam-h-tech-stack{
  position: relative;
  width: 100%;
  text-align: center;
  top: 50%;
  font-size: 100%;
}

@media only screen and (min-width: 1200px){
  .sam-h{
    font-size: 700%;
  }
}

/* ********************************* Navbar ******************************************** */

.nav-container{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray);
  color: var(--color-white);
  height: 10vh;
  z-index: 11;
}

.tobe-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 120px;
  background-color: black;
  margin-left: 40px;
}

.nav-list{
  justify-self: flex-end;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-item{
  margin-right: 120px;
  padding: 10px;
}

.nav-item:hover{
  cursor: pointer;
  padding-bottom: 0; 
  border-bottom: 3px solid red;
}

/* ********************************* Mobile Navbar ******************************************** */
.mobile-nav-container{
  height: 10vh;
  width: 100%;
  background-color: var(--color-gray);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 11;
}

.burger-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: 100%;
  background-color: var(--color-gold);
}

.rotate:hover{
  transform: rotate(90deg);
  transition-duration: 0.5s;
  cursor: pointer;
}

.burger-line{
  height: 40%;
  width: 90%;
  background-color: aliceblue;
  margin: 5px;
  border-radius: 10px;
}

.burger-menu{
  position: absolute;
  background-color: var(--color-gray);
  height: 90vh;
  width: 100%;
  color: var(--color-white);
  z-index: 10;
}

.burger-menu-item{
  font-size: 500%;
  margin: 3% 0 0 3%;
  list-style: none;
}

.burger-menu-item:hover{
  border-bottom: 3px solid red;
  color: black;
  margin-bottom: -3px;
  width: 8%;
  cursor: pointer;
}

/* ********************************* About ******************************************** */
.about-container{
  background-color: var(--color-gray);
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 80%;
  color: var(--color-white);
  padding: 10%;
}

.main-image{
  height: auto;
  width: 30%;
  margin-left: 50%;
  margin-bottom: 20%;
  transform: translate(-50%);
}

.about-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  list-style: none;
  padding: 5%;
}

.about-list > li{
  margin: 1%;
  background-color: var(--color-green);
  border-radius: 15px;
  padding: 2%;
}