*{
  font-family: 'Circular Std Book Bold', sans-serif;
  margin: 0;
  padding: 0;
}

/* ********************************* Variables ******************************************** */

:root{
  --color-gray: rgb(48,53,55);
  --color-gold: rgb(173,148,84);
  --color-green: rgb(64,88,96);
  --color-white: rgb(239,238,228);

}

/* ********************************* Header ******************************************** */
.header-container{
  height: 90vh;
  width: 100vw;
  background-color: var(--color-gray);
  color: var(--color-gold);
}

.sam-h{
  position: relative;
  width: 100%;
  text-align: center;
  top: 40%;
  font-size: 500%;
}

.sam-h-tech-stack{
  position: relative;
  width: 100%;
  text-align: center;
  top: 50%;
  font-size: 100%;
}

@media only screen and (min-width: 1200px){
  .sam-h{
    font-size: 700%;
  }
}

/* ********************************* Navbar ******************************************** */

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray);
  color: var(--color-white);
  height: 10vh;
}

.tobe-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 120px;
  background-color: black;
  margin-left: 40px;
}

.nav-list{
  justify-self: flex-end;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-item{
  margin-right: 120px;
  padding: 10px;
}

.nav-item:hover{
  cursor: pointer;
  padding-bottom: 0; 
  border-bottom: 3px solid red;
}